.card {
  min-width: 175px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  &-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-height: 100px;
  }
  &--round {
    border-radius: 10px;
  }
  &__image {
    position: relative;
    height: 175px;
    img {
      height: 100%;
      object-fit: cover;
    }
    &__overlay {
      position: absolute;
      text-align: center;
      height: 34px;
      border-radius: 28px;
      color: darken($color: #fff, $amount: 20%);
      padding: 6px 20px;
      top: calc(50% - 17px);
      left: calc(50% - 100px);
      width: 200px;
      font-size: 14px;
      text-transform: uppercase;
      background-color: transparentize($color: #000000, $amount: 0.68);
    }

    &__avatar {
      height: 38px !important;
      width: 38px !important;
      border-radius: 19px;
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
  &__info {
    align-items: center;
    justify-content: space-between;
    span {
      flex: 0 0 70%;
      overflow: hidden;
      white-space: nowrap;
      * {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &__icon {
      width: 22px;
      height: 22px;
      border-radius: 11px;
      line-height: 12px;
      background-color: #e8e8e8;
      border: none;
      color: transparentize($color: #303336, $amount: 0.42);
      i {
        font-size: 12px;
      }
      &--play {
        background-color: transparent;
        border: 1px solid #dddddd;
      }
    }
  }
}

.extended {
  max-height: 300px;
}
