<div class="content">
  <div class="content__landing pb-5">
    <app-header></app-header>
    <div class="container">
      <div class="row heading">
        <div
          class="col-md-6 col-10 offset-md-3 offset-1 text-left text-md-center mt-4"
        >
          <section>
            <h1 class="font-weight-bold text-light heading_title py-5 py-md-0">
              Join us today
            </h1>
            <small
              class="text-light text-justify heading__subtitle py-5 py-md-0"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</small
            >
          </section>
        </div>
      </div>
      <div class="row mt-md-5">
        <section class="py-4 py-md-2 row justify-content-center">
          <div class="col-lg-3 col-sm-6 py-2">
            <div class="text-center feature-block px-1 py-2">
              <i class="far fa-clock feature-block__icon"></i>
              <p class="feature-block__title text-light pt-md-2">
                Spend time smart
              </p>
              <small class="feature-block__subtitle text-light py-md-1"
                >Lorem ipsum dolor sit amet</small
              >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 py-2">
            <div class="text-center feature-block px-1 py-2">
              <i class="fas fa-microphone-alt feature-block__icon"></i>
              <p class="feature-block__title text-light pt-md-2">
                Audio podcast
              </p>
              <small class="feature-block__subtitle text-light py-md-1"
                >Lorem ipsum dolor sit amet</small
              >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 py-2">
            <div class="text-center feature-block px-1 py-2">
              <i class="fas fa-chart-line feature-block__icon"></i>
              <p class="feature-block__title text-light pt-md-2">
                Boost your time
              </p>
              <small class="feature-block__subtitle text-light py-md-1"
                >Lorem ipsum dolor sit amet</small
              >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 py-2">
            <div class="text-center feature-block px-1 py-2">
              <i class="far fa-gem feature-block__icon"></i>
              <p class="feature-block__title text-light pt-md-2">
                Quality
              </p>
              <small class="feature-block__subtitle text-light py-md-1"
                >Lorem ipsum dolor sit amet</small
              >
            </div>
          </div>
        </section>
      </div>
      <div class="row cta mt-md-5">
        <section
          class="d-flex col-12 col-lg-6 justify-content-between align-items-center flex-column flex-lg-row offset-lg-3"
        >
          <button
            name=""
            id=""
            class="button button--transparent"
            style="width: 200px;"
          >
            Sign Up
          </button>

          <button
            name=""
            id=""
            class="button button--light"
            style="width: 200px;"
          >
            Login
          </button>
        </section>
      </div>
    </div>
  </div>
</div>
